# pypackage

setup

```console
$ pip install kamidana cookiecutter
```

generate project from this project template.

```console
{%- with cmd="cookiecutter --no-input %s name=%s"|format(pkg, name) %}
$ {{cmd}}
{{cmd|read_from_command(relative_self=False)}}
{%- endwith %}
{%- with cmd="tree %s"|format(name) %}
$ {{cmd}}
{{cmd|read_from_command(relative_self=False)}}
{%- endwith %}
```
